<h1>Розхід</h1>

<div class="form">
    {{#if allMedicines.length}}
        <form method="POST" action="/addConsumption">
            <div class="form-group">
                <label for="title">Медикаменти</label>
                <select name="id" class="form-control" id="title" required>

                    {{#each allMedicines}}
                        {{#if remainder}}
                            <option value="{{id}}">{{title}}</option>
                        {{/if}}
                    {{/each}}

                </select>
            </div>
            <div class="form-group">
                <label class="control-label control-label col-sm-3" for="quantity">Кількість</label>
                <input type="number" name="quantity" id="quantity" required>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="start">Дата :</label>
                <input type="date" id="start" name="date" required
                    min="2018-01-01" max="2030-12-31">
                <br>
            </div>
            <div class="form-group">
                <label for="employeeName">Співробітник</label>
                <select name="employeeName" class="form-control" id="employeeName" required>

                    {{#each allEmployees}}
                            <option value="{{id}}">{{name}}</option>
                    {{/each}}

                </select>
            </div>
            <div class="form-group">
                <label for="patientName">Пацієнт</label>
                <select name="patientName" class="form-control" id="patientName" required>

                    {{#each allPatients}}
                            <option value="{{id}}">{{name}}</option>
                    {{/each}}

                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary mb-2">Зберегти</button>
            </div>
        </form>

    {{else}}
        <h1>Медикаментів немає!</h1>
    {{/if}}
</div>