<h1>Редагувати препарат</h1>


<div class="form">
  <form method="POST" action="/medicine/edit">
      <div class="form-group">
          <label class="col-sm-3" for="title">Назва препарату</label>
          <input type="text" name="title" id="title" value="{{item.title}}" required>
      </div>
      <div class="form-group">
          <label class="col-sm-3" for="desc">Опис</label>
          <input type="text" name="desc" id="desc" value="{{item.description}}" required>
      </div>
      <input type="hidden" value="{{item.id}}" name="id">
      <div>
          <button type="submit" class="btn btn-info mb-2">Зберегти</button>
      </div>
      <input type="hidden" name="_csrf" value="{{csrf}}">
  </form>
  {{#if isSuperAdmin}}
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
            Списати
    </button>
  {{/if}}
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Ви дійсно хочете списати <b> {{item.title}}</b> ?</h5>
      </div>
      <div class="modal-footer">
        <form action="/medicine/delete" method="POST">
            <input type="hidden" name="id" value="{{item.id}}">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn btn-danger" type="submit">Списати</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
      </div>
    </div>
  </div>
</div>