<h1>Пацієнт</h1>


<div class="form">
    <form method="POST" action="/patients/edit">
        <div class="form-group">
            <label class="col-sm-3" for="name">Ім'я</label>
            <input type="text" name="name" id="name" value="{{item.name}}" required>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="dateOfBirdth">Дата народження:</label>
                <input type="date" id="dateOfBirdth" name="dateOfBirdth" required
                    value="{{item.onlyDate}}"
                    min="1900-01-01" max="2030-12-31">
                <br>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="desc">Опис</label>
            <textarea rows="5" cols="40" name="desc" id="desc">{{item.description}}</textarea>
        </div>
        <input type="hidden" value="{{item.id}}" name="id">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div>
            <button type="submit" class="btn btn-info mb-2">Зберегти</button>
        </div>
    </form>

    <form action="/patients/delete" method="POST">
        <input type="hidden" name="id" value="{{item.id}}">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button class="btn btn-danger" type="submit">Видалити</button>
    </form>
</div>