<h1>Пацієнт</h1>


<div class="form">
    <form method="POST" action="/patients/edit">
        <div class="form-group">
            <label class="col-sm-2" for="name">Ім'я</label>
            <input type="text" name="name" id="name" value="{{item.name}}" required>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="age">Вік</label>
            <input type="number" name="age" id="age" value="{{item.age}}">
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="desc">Опис</label>
            <input type="text" name="desc" id="desc" value="{{item.description}}">
        </div>
        <input type="hidden" value="{{item.id}}" name="id">
        <div>
            <button type="submit" class="btn btn-info mb-2">Зберегти</button>
        </div>
    </form>

    <form action="/patients/delete" method="POST">
        <input type="hidden" name="id" value="{{item.id}}">
        <button class="btn btn-danger" type="submit">Видалити</button>
    </form>
</div>