<h1>Звіт по приходу з : {{from}} по {{to}}</h1>

{{#if incomings.length}}
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Назва</th>
            <th scope="col">Кількість</th>
            </tr>
        </thead>
            <tbody>
                {{#each newArrOfIncomings}}
                        <tr>
                        <td scope="row">{{@index}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{name}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {{#each this.item}}
                                        <a class="dropdown-item" href="#"><b>{{Medicine.title}}</b>,   кількість :  <b>{{quantity}}</b> , дата:  <b>{{newDate}}</b></a>
                                    {{/each}}
                                </div>
                            </div>
                        </td>
                        <td>{{sum}}</td>
                        </tr>
                        
                    {{/each}}
            </tbody>

                
    </table>
{{else}}
    <h1>Не має поступлень за цей період</h1>
{{/if}}