<h1>Ліки</h1>


{{#if success}}
    <p class="alert alert-success">{{success}}</p>
{{/if}}

{{#if error}}
    <p class="alert alert-danger">{{error}}</p>
{{/if}}




{{#if paginationMedicine.results.length}}

<a href="/medicine?page=1&limit=3&isActive={{isActive}}&order={{order}}&upOrDown={{upOrDown}}"><span class="material-icons text-dark">
view_stream
</span></a>

<a href="/medicine?page=1&limit=5&isActive={{isActive}}&order={{order}}&upOrDown={{upOrDown}}"><span class="material-icons text-dark">
view_module
</span></a>

<a href="/medicine?page=1&limit=10&isActive={{isActive}}&order={{order}}&upOrDown={{upOrDown}}"><span class="material-icons text-dark">
view_comfy
</span></a>

<a href="/medicine?page=1&limit={{limit}}&isActive={{isActive}}&order=title&upOrDown=ASC"><span class="material-icons text-dark">
text_rotate_vertical
</span></a>

<a href="/medicine?page=1&limit={{limit}}&isActive={{isActive}}&order=remainder&upOrDown=DESC"><span class="material-icons text-dark">
format_list_numbered
</span></a>

    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Назва</th>
            <th scope="col">Залишок</th>
            <th scope="col">Опис</th>
            {{#if isActive}}
                <th scope="col"></th> 
                <th scope="col"></th>
            {{else}}
                <th scope="col"></th>
                <th scope="col"></th>
            {{/if}}
            </tr>
        </thead>
        {{#each paginationMedicine.results}}
            <tbody>
                <tr>
                <th scope="row">{{index @index}}</th>
                <td>{{title}}</td>
                <td>{{remainder}}</td>
                <td>{{description}}</td>
                {{#unless @root.isModerator}}
                    {{#if isActive}}
                        <td><a class="btn btn-info" href="/medicine/{{id}}/edit">Редагувати</a></td>
                    {{else}}
                        <td>Використовувалися з : {{newCreatedAt}}  по  {{newUpdatedAt}}</td>
                        {{#if @root.isSuperAdmin}}
                            <td>
                                <form action="/medicine/restore" method="POST">
                                    <input name="restoredId" type="hidden" value="{{id}}">
                                    <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                                    <button class="btn btn-info" type="submit">Відновити</button>
                                </form>
                            </td>
                        {{/if}}
                    {{/if}}
                {{/unless}}
                </tr>
            </tbody>
        {{/each}}
    </table>

    <div class="pagin">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link text-dark" href="medicine?page={{paginationMedicine.firstPage.page}}&limit={{paginationMedicine.firstPage.limit}}&isActive={{paginationMedicine.firstPage.isActive}}&order={{order}}&upOrDown={{upOrDown}}">Перша сторінка</a></li>
                
                {{#if paginationMedicine.previous}}
                    <li class="page-item">
                        <a class="page-link text-dark" href="medicine?page={{paginationMedicine.previous.page}}&limit={{paginationMedicine.previous.limit}}&isActive={{paginationMedicine.previous.isActive}}&order={{order}}&upOrDown={{upOrDown}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {{else}}
                    <li class="page-item disabled">
                        <a class="page-link text-dark" href="medicine?page={{paginationMedicine.previous.page}}&limit={{paginationMedicine.previous.limit}}&isActive={{paginationMedicine.previous.isActive}}&order={{order}}&upOrDown={{upOrDown}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {{/if}}

                <li class="page-item"><a class="page-link text-dark" href="#">{{paginationMedicine.page}}</a></li>

                {{#if paginationMedicine.next}}
                    <li class="page-item">
                        <a class="page-link text-dark" href="medicine?page={{paginationMedicine.next.page}}&limit={{paginationMedicine.next.limit}}&isActive={{paginationMedicine.next.isActive}}&order={{order}}&upOrDown={{upOrDown}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {{else}}
                    <li class="page-item disabled">
                        <a class="page-link text-dark" href="medicine?page={{paginationMedicine.next.page}}&limit={{paginationMedicine.next.limit}}&isActive={{paginationMedicine.next.isActive}}&order={{order}}&upOrDown={{upOrDown}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {{/if}}

                <li class="page-item"><a class="page-link text-dark" href="medicine?page={{paginationMedicine.lastPage.page}}&limit={{paginationMedicine.lastPage.limit}}&isActive={{paginationMedicine.lastPage.isActive}}&order={{order}}&upOrDown={{upOrDown}}">Остання сторінка : {{paginationMedicine.lastPage.page}}</a></li>
            </ul>
        </nav>
    </div>
{{else}}
    <h1>Нічого не має</h1>
{{/if}}

