<h1>Звіт по розходу з : {{from}} по {{to}}</h1>

{{#if medicine}}
    <h2>по медикаменту : {{medicine.title}}</h2>
{{/if}}

{{#if employee}}
    <h2>по співробітнику : {{employee.name}}</h2>
{{/if}}

{{#if patient}}
    <h2>по пацієнту : {{patient.name}}</h2>
{{/if}}

<a href="/outReport/sendConsumptions"><span class="material-icons text-dark">
mail
</span></a>

    {{#if newArrOfConsumptions.length}}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Назва</th>
                <th scope="col">Кількість</th>
                </tr>
            </thead>
            <tbody>
                    
                    {{#each newArrOfConsumptions}}
                        <tr>
                        <td scope="row">{{index @index}}</td>
                        <td>
                            <div class="dropdown">
                                {{#if isActive}}
                                    <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{name}}
                                    </button>
                                {{else}}
                                    <button  class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{name}}
                                    </button>
                                {{/if}}
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {{#each this.item}}
                                        <a class="dropdown-item" href="#"><b>{{Medicine.title}}</b>,   кількість :  <b>{{quantity}}</b> , дата:  <b>{{newDate}}</b>, медсестра : <b>{{Employee.name}}</b>, пацієнт : <b>{{Patient.name}}</b> , видав : <b>{{User.name}}</b> , пошта : <b>{{User.email}}</b> </a>
                                    {{/each}}
                                </div>
                            </div>
                        </td>
                        <td>{{sum}}</td>
                        </tr>
                        
                    {{/each}}

                    
            </tbody>

                    
        </table>
    {{else}}
        <h1>Не має видачі за цей період</h1>
    {{/if}}
